:root {
  --main-bg-col: rgb(28, 38, 48);
  --main-fnt-col: rgb(161, 184, 161);
  --main-header-col: rgb(140, 204, 110);
  --main-fnt: 'Lucida Console', monospace;
  --main-href-col: rgb(189, 143, 75);
}

body {
  font-family: var(--main-fnt);
  font-size: 1.0em;
  background-color: var(--main-bg-col);
}
h1 {
  color: var(--main-header-col);
  text-align: center;
}
h3 {
  color: var(--main-header-col);
}
p, span {
  color: var(--main-fnt-col);
}
a {
  color: var(--main-href-col)
}
hr {
  border: 1px solid var(--main-fnt-col);
}
textarea {
  font-size: 1.0em;
  border: 1px solid var(--main-fnt-col);
  width: 100%;
  background-color: var(--main-fnt-col);
}
* {
  box-sizing: border-box;
}

.button-grp .button {
  font-family: var(--main-fnt);
  background-color: var(--main-fnt-col);
  color: var(--main-bg-col);
  border: 1px solid var(--main-fnt-col);
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
  margin: 1px;
}
.button-grp .buttonN {
  font-family: var(--main-fnt);
  background-color: var(--main-bg-col);
  color: var(--main-fnt-col);
  border: 1px solid var(--main-fnt-col);
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
  margin: 1px;
}
.brbutton {
  line-height: 40px;
}
.fakehrefbutton {
  font-family: var(--main-fnt);
  background-color: var(--main-bg-col);
  color: var(--main-href-col);
  border: none;
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
  margin: 1px;
  float: left;
}

.left50 {
  float: left;
  width: 50%;
  padding: 10px;
}
.right50 {
  float: right;
  width: 50%;
  padding: 10px;
}
.left10 {
  float: left;
  /* width: 10%; */
  padding: 0px 10px;
}
.right90 {
  float: left;
  width: 90%;
  padding: 0px 10px;
}

@media screen and (max-width: 1000px),
       screen and (orientation: portrait) {
  .left50, .right50, .left10, .right90 {
    width: 100%;
  }
}
