:root {
  --main-bg-col: rgb(28, 38, 48);
  --main-fnt-col: rgb(161, 184, 161);
}

body {
  font-family: 'Lucida Console', monospace;
  font-size: 1.0em;
  background-color: var(--main-bg-col);
}
h1 {
  color: rgb(140, 204, 110);
  text-align: center;
}
p {
  color: var(--main-fnt-col);
}
a {
  color: rgb(189, 143, 75);
}
textarea {
  font-size: 1.0em;
  border: 1px solid #999999;
  width: 100%;
  background-color: rgb(161, 184, 161);
}
* {
  box-sizing: border-box;
}

.button-grp .button {
  background-color: var(--main-fnt-col);
  color: var(--main-bg-col);
  border-color: var(--main-fnt-col);
  border: 1px solid;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  float: left;
}

.button-grp .buttonN {
  background-color: var(--main-bg-col);
  color: var(--main-fnt-col);
  border-color: var(--main-fnt-col);
  border: 1px solid;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  float: left;
}

.left {
  float: left;
  width: 50%;
  padding: 10px;
}
.right {
  float: right;
  width: 50%;
  padding: 10px;
}

@media screen and (max-width: 1200px) {
  .left, .right {
    width: 100%;
  }
}
